* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(250, 225, 193);
}
